@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: "Open Sans", sans-serif;
}

html,
body {
  height: auto;
  width: 100%;
}
input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

input:focus::-webkit-input-placeholder {
  color: transparent;
}

button {
  cursor: pointer;
  outline: none;
  border: none;
}
